<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.js"
          integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
          crossorigin="anonymous"></script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Untree.co" />
  <link rel="shortcut icon" href="favicon.png" />

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap5" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />


  <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}" />
  <link rel="stylesheet" th:href="@{/fonts/flaticon/font/flaticon.css}" />

  <link rel="stylesheet" th:href="@{/css/tiny-slider.css}" />
  <link rel="stylesheet" th:href="@{/css/aos.css}" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />

  <title>
    Investology
  </title>
</head>
<body>
<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close">
      <span class="icofont-close js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>

<nav class="site-nav">
  <div class="container">
    <div class="menu-bg-wrap">
      <div class="site-navigation">
        <a th:href="@{/index}" class="logo m-0 float-start">Investology</a>

        <ul
                class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
        >
          <li class="nav-item"><a class="nav-link" th:href="@{/index}">Home</a></li>
          <li class="has-children active">
            <a th:href="@{/properties}">Properties</a>
            <ul class="dropdown">
              <li><a href="#">Sell Property</a></li>
            </ul>
          </li>
          <li ><a href="services.html">Services</a></li>
          <li ><a href="about.html">About</a></li>
          <li ><a th:href="@{/contact}">Contact Us</a></li>
          <li  sec:authorize="isAuthenticated()" th:classappend="${module == 'logout' ? 'active' : ''}"><a th:href="@{/logout}">Logout</a></li>

          <li  sec:authorize="!isAuthenticated()" th:classappend="${module == 'login' ? 'active' : ''}"><a th:href="@{/login}">Login</a></li>

          <li  sec:authorize="!isAuthenticated()" th:classappend="${module == 'registration' ? 'active' : ''}"><a th:href="@{/registration/}">Registration</a></li>

        </ul>

        <a
                href="#"
                class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
                data-toggle="collapse"
                data-target="#main-navbar"
        >
          <span></span>
        </a>
      </div>
    </div>
  </div>
</nav>





<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <div th:if="${param.error}">
                  <div class="alert alert-danger">Wrong Email or Password</div>
                </div>

                <br>
                <div th:if="${param.logout}">
                  <div id="close" class="alert alert-danger align-items-center ">You are now logged out!
                  </div>
                </div>
                <br>

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign in</p>

                <form class="mx-1 mx-md-4" th:action="@{/login}" th:method="post" name="formVal"  id="login-form" >

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input name="username" placeholder="Email Address" id="username" oninput="this.setCustomValidity('')"  oninvalid="this.setCustomValidity('Enter your Email')" type="username" class="form-control" />
                      <label class="form-label" for="username">Your Email</label>
                      <div id ="divVal" ></div>
                    </div>

                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input placeholder="Password" name="password" oninvalid="this.setCustomValidity('Enter Your Password')" type="password" id="password" class="form-control"  oninput="this.setCustomValidity('')"/>
                      <label class="form-label" for="password">Password</label>
                      <div id ="divVal2" ></div>
                    </div>


                  </div>

                  <!--                                    <div class="d-flex flex-row align-items-center mb-4">-->
                  <!--                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>-->
                  <!--                                        <div class="form-outline flex-fill mb-0">-->
                  <!--                                            <input th:field="*{password}" type="password" id="form3Example4cd" class="form-control" th:errorClass="is-invalid"/>-->
                  <!--                                            <label class="form-label" for="form3Example4cd">Repeat your password</label>-->
                  <!--                                        </div>-->
                  <!--                                        <div th:if="${#fields.hasErrors('rPassword')}" th:errors="*{rPassword}" class="invalid-feedback"></div>-->
                  <!--                                    </div>-->


                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <input  value="Log in" onsubmit="return validateform()" name="signin" id="signin"  type="submit" class="btn btn-primary btn-lg"></input>
                  </div>
                  <div class="text-center">
                    <p>Not a member? <a style="color: #005555" th:href="@{/registration/}">Register Now</a></p>

                  </div>


                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="/images/grant-lemons-jTCLppdwSEc-unsplash.jpg"
                     class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function validateform(){
    var name=$('#username').val();
    var password=$('#password').val();

    if ( name.length==0){
      document.getElementById("divVal").innerText("Enter Your Email");
      return false;
    }else if(password.length==0){
      $('#divVal2').html("Enter Your Password");
      return false;
    }
  }
</script>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/tiny-slider.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/navbar.js}"></script>
<script th:src="@{/js/counter.js}"></script>
<script th:src="@{/js/custom.js}"></script>


</body>
</html>